.gallertdiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.gallerypic{
    width: 250px;
}

.gallertdiv h2 {
    text-align: center;
}

.imagelist {
    display: flex;
    justify-content: center;
    padding: 0 100px 50px 100px;
}

.title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}


@media (max-width: 700px) {
    .imagelist {
        padding: 0 20px 50px 20px;
    }
}