html,
body {
  color: white;
  height: 100%;
  overflow-x: hidden;
  font-family: var(--font-teko);
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.footercomp {
  display: flex;
  justify-content: center;
  padding: 60px;
}

.links_grid a{
  padding: 10px;
}